@{
    ViewBag.Title = "NFB2T - Notas Fiscal";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}


<button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-search"></span> Pesquisar Notas
</button>
<button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-plus"></span> Criar Nova Nota
</button>

